In [1]:
#I am learning Python and follwing are the basic commands

print(5+2)
5*2
5>0

7

True

In [2]:
"hello "+"abc"

'hello abc'

In [3]:
if(1>2)
    print("hello")

SyntaxError: invalid syntax (<ipython-input-3-b7735a31eea8>, line 1)

In [4]:
if(1>0):
    print("hello")
if(2<3):
    print("hi")

hello
hi

In [5]:
if(1<2&2<3):
    print("you got that right")

you got that right

In [6]:
name = "Desmond"
age = 37
country = 'Singapore'
print(type(name))

<class 'str'>

In [7]:
name='desmond'
print(name)

desmond

In [8]:
name = "Desmond"
age = 37
country = 'Singapore'
print(type(age))

<class 'int'>

In [9]:
print(name + "'s" + " age is " + str(age))

Desmond's age is 37

In [10]:
name, age, country, = 'Desmond', 37, 'Singapore'
print(name, country, age)

Desmond Singapore 37

In [11]:
name = country = age = 'Desmond'
print(name, country, age)

Desmond Desmond Desmond

In [12]:
students = ['desmond', 'melvin']
for x in students:
    print(x)

desmond
melvin

In [13]:
students = ['desmond', 'melvin', 'kannan']
for x in students:
    #condition you can break the execution of the loop
    if(x == 'kannan')
        break
    print(x)

SyntaxError: invalid syntax (<ipython-input-13-e9906952cf71>, line 4)

In [15]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [16]:
setA = {'a', 'e', 'i', 'o', 'u', 'g', 'h'}
setB = {'a', 'e', 'z', 'b', 't', 'o', 'u'}

print("Initial setA:", setA, "size:", len(setA))
print("Initial setB:", setB, "size:", len(setB))

print("(setA & setB):", setA & setB, "size:", len(setA & setB))

Initial setA: {'e', 'h', 'g', 'i', 'u', 'a', 'o'} size: 7
Initial setB: {'e', 'b', 't', 'z', 'u', 'a', 'o'} size: 7
(setA & setB): {'o', 'u', 'a', 'e'} size: 4

In [17]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}

print("dict['Student Name'}; ", dict['Student Name'])

dict['Student Name'};  Berry